<Layout title="All at Once">
    <h1>All at Once</h1>
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-lg-6">
                <h2>Counter</h2>
                <Counter />
            </div>
            <div class="mui-col-lg-6">
                <h2>Todo</h2>
                <TodoApp />
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-lg-6">
                <h2>Stateful Counter</h2>
                <div class="mui--text-dark mui--text-subhead">Unlike the regular counter, this one remembers its state
                    for further
                    use.</div>
                <StatefulCounter />
            </div>
            <div class="mui-col-lg-6">
                <h2>Stateful Todo</h2>
                <div class="mui--text-dark mui--text-subhead">Unlike the regular todo, this one remembers its state for
                    further reuse in defferent places.</div>
                <StatefulTodoApp />
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-lg-6">
                <h2>Another one Stateful Counter</h2>
                <div class="mui--text-dark mui--text-subhead">It mirrors previous Counter.</div>
                <StatefulCounter />
            </div>
            <div class="mui-col-lg-6">
                <h2>Another one Stateful Todo</h2>
                <div class="mui--text-dark mui--text-subhead">It mirrors list from previous Todo.</div>
                <StatefulTodoApp />
            </div>
        </div>
    </div>
</Layout>