<Layout>
    <slotContent name="head">
        <title>$count $title</title>
    </slotContent>
    <slotContent name="body">
        <$htag class="big-title">$title</$htag>
        <$htag class="big-title-2" />
        <h4>
            Count: $count
        </h4>
        <div class="my-class count-$count" class.show="$title" class.lg="$title">
            Another count: $count
            <button (click)="Increment($event, GetCount(), $json->Name, $messages['Test'], $count)">Increment</button>
        </div>
        <p>
            <b foreach="$fruits as $fruit">Fruit: $fruit </b>
            <i if="$count % 2 === 0">$count is Odd</i>
            <span else>$count is Even</span>
        </p>
    </slotContent>
    Just text without slot
</Layout>