<Layout>
    <slotContent name="head">
        <!-- <tag></tag> <!-- another text -> my comment $title -->
        <title>$count $title</title>
    </slotContent>
    <slotContent name="body">
        <UserItem user="$friend" title="My custom title" active="false">SOME TEXT</UserItem>
        <br />
        <$dynamicName user="$friend" title="$count $title" active="$false">DYNAMIC TAG</$dynamicName>

        <div class="passing-data-$count">
        </div>

        <UserItem></UserItem>
        <$dynamicName>Dynamic 1</$dynamicName>
        <div>
            <$dynamicName>Dynamic 2</$dynamicName>
        </div>
        <h4>
            Count: $countState->count
        </h4>
        <div class="my-class count-$count" class.show="$title" class.lg="$title">
            Another count: $count
            <button (click)="Increment($event, GetCount(), $json->Name, $messages['Test'], $count)">Increment</button>
        </div>
    </slotContent>
    Just text without slot
</Layout>