<Layout>
    <slotContent name="head">
        <!-- <tag></tag> <!-- another text -> my comment $title -->
        <title>$count $title</title>
    </slotContent>
    <slotContent name="body">
        <div id="customJsTestId">

        </div>
        <div $attrName="My title">
            <$dynamicName></$dynamicName>
            <UserItem></UserItem>
        </div>
        <h4>
            Count: $countState->count
        </h4>
        <div class="my-class count-$count" class.show="$title" class.lg="$title">
            Another count: $count
            <button (click)="Increment($event, GetCount(), $json->Name, $messages['Test'], $count)">Increment</button>
        </div>
        <div>
            <b foreach="$fruits as $fruit">
                $fruit
            </b>
        </div>
        <b $dynamicEvent="Increment()">Dynamic event $dynamicEvent</b>
    </slotContent>
    Just text without slot
</Layout>